<% tvlist.forEach(function(entry){ %>
    <div id="tv-entry">
        <h2>
            <%= entry.title %>
        </h2>
        <p>Seasons Viewed :
            <%= entry.status %>
        </p>
    </div>
<% }) %>